/* https://coolors.co/44ffd1-6153cc-a60067-961d4e-360a14 */
* {
    --white: rgba(255, 240, 250, 1);
    --color1: rgba(255, 227, 220, 1);
    --color2: rgba(219, 180, 173, 1);
    --color3: rgba(166, 0, 103, 1);
    --color4: rgba(150, 29, 78, 1);
    --color5: rgba(54, 10, 20, 1);
    box-sizing: border-box;
}

/* 
body {
    background-color: var(--color1);
}

header {
    background-color: var(--color5);
    height: 100px;
    line-height: 100px;
    color: var(--white);
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

header h1 {
    line-height: 100px;
    margin: 0;
}

nav ul li {
    display: inline-block;
    width: 100px;
    margin: 0;
}

header a {
    color:inherit;
    text-decoration: none;
}
header a:hover {
    color:inherit;
    text-decoration: none;
} */

.exercise__container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}
/* 
.exercise__container::after {
    content: "";
    flex: auto;
} */

.exercise {
    background-color: var(--color3);
    color: var(--white);
    width: 30%;
    margin: 10px 0;
    box-shadow: var(--color2) 2px 2px 3px;
}

.exercise:hover {
    box-shadow: var(--color2) 3px 3px 3px;
}

.exercise__title {
    background-color: var(--color4);
    padding: 1em 2em;   
}

.exercise__content {
    background-color: var(--color3);
}

.exercise__description {
    padding: 2em;
}

.exercise__correction {
    background-color: var(--color4);
    /* padding: 2em; */
}

.exercise__correction--hidden{
    display: none;
}

.error__message {
    padding: 50px;
    margin: 20px auto;
    background-color: #222;
    color: chartreuse;
    border-radius: 2px;
    box-shadow: #444 2px 2px 5px;
    width: 80vw;
}


@media screen and (max-width: 1200px) {

    .exercise {
        width: 47%;
        margin: 0.5rem;
    }

    header {
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 800px) {

    .exercise__container {
        flex-wrap: no-wrap;
        flex-direction: column;
    }

    .exercise {
        width: 97vw;
        margin: 0.5rem 0.2rem;
    }
}