<%- include('partials/header') %>


<div class="error__message">
    <%= err %>
    <br>
    <button>
        <a target="_blank" href="https://www.google.com/search?q=<%=err%>">Google it !</a>
    </button>
</div>

<%- include('partials/footer') %>